

Job: COMPACT_2jets
  CmeLabel: 13 TeV
  POI: mu_XS_VVV
  ReadFrom: NTUP
  NtuplePaths: trex_input_3region
  AtlasLabel: "#color[0]{1_Corinth_13_4}"
  LumiLabel: 79.8 fb^{-1}
  Label: none
  Lumi: 1.
  MCweight: MCweight_833cb2b381c8fa3dd637e0b918645a82_0
  PlotOptions: CHI2,NOXERR,NOENDERR,POISSONIZE
  NtupleName: nominal
  DebugLevel: 1
  SystControlPlots: TRUE
  SystErrorBars: TRUE
  SystPruningShape: 0.005
  SystPruningNorm: 0.005
  SystLarge: 1
  CorrelationThreshold: 0.0001
  RankingMaxNP: 15
  HistoChecks: NOCRASH
  MCstatThreshold: 0.05
  ImageFormat: png,eps,pdf,root,C
  Selection: Selection_833cb2b381c8fa3dd637e0b918645a82_0
  ReplacementFile: my_Common_XS_unc.txt
  SummaryPlotYmax: 5E4
  SummaryPlotYmin: 1
  AllowWrongRegionSample: TRUE
  RatioYmin: 0.0
  RatioYmax: 2.0
  LegendX1: 0.53
  LegendX2: 0.93
  LegendX1Summary: 0.53
  LegendX2Summary: 0.94
  LegendYSummary: 0.90
  LabelX: 0.24
  LabelY: 0.90
  LabelXSummary: 0.24
  LabelYSummary: 0.90
  StatOnly: TRUE

Options: options
  CanvasWidth: 700
  CanvasHeight: 700
  VVVTotalUncert: 1
  VVVHideData: 0


Fit: fit
  FitBlind: TRUE
  UseMinos: mu_XS_VVV
  FitType: SPLUSB
  FitRegion: CRSR
  POIAsimov: 1
  NumCPU: 8


Limit: limit
  LimitType: ASYMPTOTIC
  LimitBlind: FALSE
  POIAsimov: 1


Region: three_lep_presel_1jet
  Type: SIGNAL
  DataType: DATA
  Variable: BDTG,13,-1.,1.
  Binning: -1.000000,-0.5,-0.342400,-0.246200,-0.181800,-0.131200,-0.083000,-0.035600,0.018800,0.083600,0.158000,0.252200,0.363400,1.000000
  VariableTitle: BDT response
  Label: WVZ\!: 3\ell1j
  ShortLabel: 3\ell1j
  YaxisTitle: Events
  Selection: Selection_abd1d472d2c9716696eabca11d520d7f_0
  MCweight: MCweight_abd1d472d2c9716696eabca11d520d7f_0
  Ymax: 660
  RatioYmin: 0.6
  RatioYmax: 1.4


Region: three_lep_presel_2jets
  Type: SIGNAL
  DataType: DATA
  Variable: BDTG_2j,13,-1,1.
  Binning: -1.0, -0.6, -0.48, -0.36, -0.24,-0.12, -0.0, 0.12, 0.24, 0.36, 0.48, 0.6, 1.0
  VariableTitle: BDT response
  Label: WVZ\!: 3\ell2j
  ShortLabel: 3\ell2j
  YaxisTitle: Events
  Selection: Selection_0e841d4b0813ecb6569972c917673b1f_0
  MCweight: MCweight_0e841d4b0813ecb6569972c917673b1f_0
  Ymax: 480
  RatioYmin: 0.6
  RatioYmax: 1.4


Region: three_lep_presel_atLeast_3jets
  Type: SIGNAL
  DataType: DATA
  Variable: BDTG_merged_1,13,-1.,1.
  VariableTitle: BDT response
  Binning: -1.0, -0.6, -0.48, -0.36, -0.24,-0.12, -0.0, 0.12, 0.24, 0.36, 0.48, 0.6, 1.0
  Label: WVZ\!: 3\ell3j
  ShortLabel: 3\ell3j
  YaxisTitle: Events
  Selection: Selection_8b9f3b25ad627940c4a246bcf430413a_0
  MCweight: MCweight_8b9f3b25ad627940c4a246bcf430413a_0
  Ymax: 300
  RatioYmin: 0.6
  RatioYmax: 1.4


Region: ttZ_3L_CR
  Type: CONTROL
  DataType: DATA
  Variable: 1,1,0,1.
  VariableTitle: "#color[0]{Matthew_5_5}"
  BinLabels: "#color[0]{invisible}"
  YaxisTitle: "Events"
  Label: t\,t\!\!\wwbar\,\,Z\to3\ell\,\,\mathrm{CR}
  ShortLabel: t\bar{t}Z\text{ CR}
  Selection: Selection_192944d2ebab8e0ee0c91f4d49dbd4b5_0
  MCweight: MCweight_192944d2ebab8e0ee0c91f4d49dbd4b5_0
  YmaxScale: 1.55
  RatioYmin: 0.8
  RatioYmax: 1.2


Region: ttZ_3L_VR
  Type: VALIDATION
  DataType: DATA
  Variable: 1,1,0,1.
  VariableTitle: "#color[0]{Matthew_5_5}"
  BinLabels: "#color[0]{invisible}"
  YaxisTitle: "Events"
  Label: t\,t\!\!\wwbar\,\,Z\to3\ell\,\,\mathrm{CR}
  ShortLabel: t\bar{t}Z\text{ CR}
  YmaxScale: 1.55
  RatioYmin: 0.8
  RatioYmax: 1.2


Sample: WVZ
  Type: SIGNAL
  Title: "#it{WVV}"
  NtupleFiles: MC16a/363507,MC16a/363508,MC16a/363509,MC16a/364243,MC16a/364244,MC16a/364245,MC16a/364246,MC16d/363507,MC16d/363508,MC16d/363509,MC16d/364243,MC16d/364244,MC16d/364245,MC16d/364246
  FillColorRGB: 255,255,0
  LineColor: 1
  Exclude: ttZ_3L_CR,ttZ_3L_VR


Sample: VH_signal
  Type: SIGNAL
  Title: "#it{WVV}"
  NtupleFiles: nominal/VH
  FillColorRGB: 255,255,0
  LineColor: 1
  MCweight: MCweight_6e203b5c0683a8d9f3de649b76c163cb_0
  Exclude: ttZ_3L_CR,ttZ_3L_VR


Sample: VH_other
  Type: BACKGROUND
  Title: Other
  NtupleFiles: nominal/VH
  FillColorRGB: 153,153,153
  LineColor: 1
  MCweight: MCweight_4d48b239137cf85ab5af77dcf035e28e_0
  Exclude: ttZ_3L_CR,ttZ_3L_VR


Sample: WZ
  Type: BACKGROUND
  Title: "#it{WZ}"
  NtupleFiles: MC16a/364253*,MC16d/364253*
  FillColorRGB: 254,156,207
  LineColor: 1


Sample: lllvjj
  Type: BACKGROUND
  Title: "#it{WZ}"
  NtupleFiles: nominal/lllvjj
  FillColorRGB: 254,156,207
  LineColor: 1
  Exclude: ttZ_3L_CR,ttZ_3L_VR


Sample: ZZ
  Type: BACKGROUND
  Title: "#it{ZZ}"
  NtupleFiles: MC16a/364250*,MC16a/345705,MC16a/345706,MC16d/345705,MC16d/345706,MC16d/364250*
  FillColorRGB: 196,139,255
  LineColor: 1


Sample: lllljj
  Type: BACKGROUND
  Title: "#it{ZZ}"
  NtupleFiles: nominal/lllljj
  FillColorRGB: 196,139,255
  LineColor: 1
  Exclude: ttZ_3L_CR,ttZ_3L_VR


Sample: Zjets
  Type: BACKGROUND
  Title: Non-prompt
  NtupleFiles: nominal/Zjets
  FillColorRGB: 87,161,246
  LineColor: 1
  Exclude: ttZ_3L_VR


Sample: Zgamma
  Type: BACKGROUND
  Title: "#gamma conv."
  NtupleFiles: nominal/Zgamma
  FillColorRGB: 36,160,3
  LineColor: 1
  Exclude: ttZ_3L_VR


Sample: ttZ
  Type: BACKGROUND
  Title: "#it{t#bar{t}Z}"
  NtupleFiles: MC16a/410218,MC16a/410219,MC16d/410218,MC16d/410219,MC16d/410220
  FillColorRGB: 169,15,35
  LineColor: 1


Sample: tWZ
  Type: BACKGROUND
  Title: "#it{WtZ}"
  NtupleFiles: MC16a/410408,MC16d/410408
  FillColorRGB: 100,1,105
  LineColor: 1


Sample: tZ
  Type: BACKGROUND
  Title: Other
  NtupleFiles: nominal/tZ
  FillColorRGB: 153,153,153
  LineColor: 1


Sample: others
  Type: BACKGROUND
  Title: Other
  NtupleFiles: nominal/others
  FillColorRGB: 153,153,153
  LineColor: 1


Sample: OtherZjets
  Type: BACKGROUND
  Title: Other
  FillColorRGB: 153,153,153
  LineColor: 1
  Regions: ttZ_3L_VR


Sample: OtherZgamma
  Type: BACKGROUND
  Title: Other
  FillColorRGB: 153,153,153
  LineColor: 1
  Regions: ttZ_3L_VR


Sample: data
  Type: DATA
  Title: Data
  NtupleFiles: data/data


NormFactor: mu_XS_VVV
  Title: mu_XS(VVV)
  Nominal: 1
  Min: -5
  Max: 5
  Samples: WVZ


Systematic: ATLAS_lumi
  Title: "Luminosity"
  Type: OVERALL
  OverallUp: 0.02
  OverallDown: -0.02
  Category: Instrumental


Systematic: mu_F_WVZ
  Title: WVZ fact. scale
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_630cd6c2b23841a11944f6fe55901f4c_0
  WeightSufDown: WeightSufDown_630cd6c2b23841a11944f6fe55901f4c_0
  Samples: WVZ
  Category: Theory
  Exclude: ttZ_3L_CR,ttZ_3L_VR


Systematic: mu_R_WVZ
  Title: WVZ renorm. scale
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_f5a0fb084bc9db79a8f7281119fb8fe1_0
  WeightSufDown: WeightSufDown_f5a0fb084bc9db79a8f7281119fb8fe1_0
  Samples: WVZ
  Category: Theory
  Exclude: ttZ_3L_CR,ttZ_3L_VR


Systematic: mu_F_WZ
  Title: "WZ factorisation scale"
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_55242f15e568a370c49a498f79ff4036_0
  WeightSufDown: WeightSufDown_55242f15e568a370c49a498f79ff4036_0
  Samples: WZ
  Regions: three_lep_presel_1jet,three_lep_presel_2jets,three_lep_presel_atLeast_3jets
  Category: Theory


Systematic: mu_R_WZ
  Title: "WZ renormalisation scale"
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_ad5bf32b12b99bee9dd6d107e1df65a5_0
  WeightSufDown: WeightSufDown_ad5bf32b12b99bee9dd6d107e1df65a5_0
  Samples: WZ
  Regions: three_lep_presel_1jet,three_lep_presel_2jets,three_lep_presel_atLeast_3jets
  Category: Theory


Systematic: mu_F_ZZ
  Title: ZZ fact. scale
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_f8f6a3a278f408b8a0a58d2c14ac8451_0
  WeightSufDown: WeightSufDown_f8f6a3a278f408b8a0a58d2c14ac8451_0
  Samples: ZZ
  Category: Theory
  Exclude: ttZ_3L_CR,ttZ_3L_VR


Systematic: mu_R_ZZ
  Title: ZZ renorm. scale
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_ab73917a746f93d44b63d0573eb65418_0
  WeightSufDown: WeightSufDown_ab73917a746f93d44b63d0573eb65418_0
  Samples: ZZ
  Category: Theory
  Exclude: ttZ_3L_CR,ttZ_3L_VR


Systematic: WZ_XS
  Title: WZ_XS
  Type: OVERALL
  OverallUp: 0.20
  OverallDown: -0.20
  Samples: WZ
  Regions: three_lep_presel_1jet,three_lep_presel_2jets,three_lep_presel_atLeast_3jets
  Category: Theory


Systematic: ZZ_XS
  Title: ZZ_XS
  Type: OVERALL
  OverallUp: 0.20
  OverallDown: -0.20
  Samples: ZZ
  Category: Theory
  Exclude: ttZ_3L_CR,ttZ_3L_VR


Systematic: WZ_shape
  Title: WZ shape
  Type: HISTO
  DropNorm: all
  Smoothing: 40
  Symmetrisation: ONESIDED
  NtupleFileUp: nominal/PP8_WZ
  Samples: WZ
  Regions: three_lep_presel_1jet,three_lep_presel_2jets,three_lep_presel_atLeast_3jets
  Category: Generators


Systematic: ZZ_shape
  Title: "ZZ shape"
  Type: HISTO
  DropNorm: all
  Smoothing: 40
  Symmetrisation: ONESIDED
  NtupleFilesUp: nominal/PP8_ZZ,MC16a/345705,MC16a/345706,MC16d/345705,MC16d/345706
  Samples: ZZ
  Category: Generators
  Exclude: ttZ_3L_CR,ttZ_3L_VR


Systematic: tWZ_XS
  Title: "tWZ normalisation"
  Type: OVERALL
  OverallUp: XXX_WtZ_XS_UP
  OverallDown: XXX_WtZ_XS_DO
  Samples: tWZ
  Category: Theory
  Exclude: ttZ_3L_CR,ttZ_3L_VR


Systematic: tZ_XS
  Title: tZ_XS
  Type: OVERALL
  OverallUp: XXX_tZ_XS_UP
  OverallDown: XXX_tZ_XS_DO
  Samples: tZ
  Regions: three_lep_presel_1jet,three_lep_presel_2jets,three_lep_presel_atLeast_3jets
  Category: Theory


Systematic: ttZ_XS_QCDscale
  Title: ttZ_XS_QCDscale
  Type: OVERALL
  OverallUp: XXX_ttZ_XS_QCDscale_UP
  OverallDown: XXX_ttZ_XS_QCDscale_DO
  Samples: ttZ
  Category: Theory


Systematic: ttZ_XS_PDFunc
  Title: ttZ_XS_PDFunc
  Type: OVERALL
  OverallUp: XXX_ttZ_XS_PDFunc_UP
  OverallDown: XXX_ttZ_XS_PDFunc_DO
  Samples: ttZ
  Category: Theory


Systematic: Zjets_XS
  Title: "Z+jets normalisation"
  Type: OVERALL
  OverallUp: XXX_Zjets_XS_UP
  OverallDown: XXX_Zjets_XS_DO
  Samples: Zjets
  Regions: three_lep_presel_1jet,three_lep_presel_2jets,three_lep_presel_atLeast_3jets
  Category: Theory


Systematic: VH_XS
  Title: VH_XS
  Type: OVERALL
  OverallUp: 0.30
  OverallDown: -0.30
  Samples: VH_other
  Category: Theory


Systematic: ATLAS_PRW_DATASF
  Title: ATLAS_PRW_DATASF
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_9bdeaebaa6ee56826f4967db1079b4d0_0
  WeightSufDown: WeightSufDown_9bdeaebaa6ee56826f4967db1079b4d0_0
  Category: Instrumental


Systematic: ATLAS_JVT
  Title: ATLAS_JVT
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_61d5d9f7bf4c3b9e6e7bc713f181cb7a_0
  WeightSufDown: WeightSufDown_61d5d9f7bf4c3b9e6e7bc713f181cb7a_0
  Category: Instrumental


Systematic: ATLAS_FTAG_B0; ATLAS_FTAG_B1; ATLAS_FTAG_B2; ATLAS_FTAG_B3; ATLAS_FTAG_B4; ATLAS_FTAG_B5; ATLAS_FTAG_B6; ATLAS_FTAG_B7; ATLAS_FTAG_B8
  Title: ATLAS_FTAG_B0; ATLAS_FTAG_B1; ATLAS_FTAG_B2; ATLAS_FTAG_B3; ATLAS_FTAG_B4; ATLAS_FTAG_B5; ATLAS_FTAG_B6; ATLAS_FTAG_B7; ATLAS_FTAG_B8
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_ad416049af89a858ac877a63a8e29bd1_0; WeightSufUp_ad416049af89a858ac877a63a8e29bd1_1; WeightSufUp_ad416049af89a858ac877a63a8e29bd1_2; WeightSufUp_ad416049af89a858ac877a63a8e29bd1_3; WeightSufUp_ad416049af89a858ac877a63a8e29bd1_4; WeightSufUp_ad416049af89a858ac877a63a8e29bd1_5; WeightSufUp_ad416049af89a858ac877a63a8e29bd1_6; WeightSufUp_ad416049af89a858ac877a63a8e29bd1_7; WeightSufUp_ad416049af89a858ac877a63a8e29bd1_8
  WeightSufDown: WeightSufDown_ad416049af89a858ac877a63a8e29bd1_0; WeightSufDown_ad416049af89a858ac877a63a8e29bd1_1; WeightSufDown_ad416049af89a858ac877a63a8e29bd1_2; WeightSufDown_ad416049af89a858ac877a63a8e29bd1_3; WeightSufDown_ad416049af89a858ac877a63a8e29bd1_4; WeightSufDown_ad416049af89a858ac877a63a8e29bd1_5; WeightSufDown_ad416049af89a858ac877a63a8e29bd1_6; WeightSufDown_ad416049af89a858ac877a63a8e29bd1_7; WeightSufDown_ad416049af89a858ac877a63a8e29bd1_8
  Category: Instrumental


Systematic: ATLAS_FTAG_C0; ATLAS_FTAG_C1; ATLAS_FTAG_C2
  Title: ATLAS_FTAG_C0; ATLAS_FTAG_C1; ATLAS_FTAG_C2
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_5fe3898e750bc09a9e02b687397280ba_0; WeightSufUp_5fe3898e750bc09a9e02b687397280ba_1; WeightSufUp_5fe3898e750bc09a9e02b687397280ba_2
  WeightSufDown: WeightSufDown_5fe3898e750bc09a9e02b687397280ba_0; WeightSufDown_5fe3898e750bc09a9e02b687397280ba_1; WeightSufDown_5fe3898e750bc09a9e02b687397280ba_2
  Category: Instrumental


Systematic: ATLAS_FTAG_Light0; ATLAS_FTAG_Light1; ATLAS_FTAG_Light2; ATLAS_FTAG_Light3
  Title: "b-tagging light jets"; ATLAS_FTAG_Light1; ATLAS_FTAG_Light2; ATLAS_FTAG_Light3
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_448a0d022d0b7e7fdc38461ab0fb9a60_0; WeightSufUp_448a0d022d0b7e7fdc38461ab0fb9a60_1; WeightSufUp_448a0d022d0b7e7fdc38461ab0fb9a60_2; WeightSufUp_448a0d022d0b7e7fdc38461ab0fb9a60_3
  WeightSufDown: WeightSufDown_448a0d022d0b7e7fdc38461ab0fb9a60_0; WeightSufDown_448a0d022d0b7e7fdc38461ab0fb9a60_1; WeightSufDown_448a0d022d0b7e7fdc38461ab0fb9a60_2; WeightSufDown_448a0d022d0b7e7fdc38461ab0fb9a60_3
  Category: Instrumental


Systematic: ATLAS_EL_SF_ID
  Title: ATLAS_EL_SF_ID
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_f553ec50a35e3b146823d38a9f2c022e_0
  WeightSufDown: WeightSufDown_f553ec50a35e3b146823d38a9f2c022e_0
  Category: Instrumental


Systematic: ATLAS_EL_SF_RECO
  Title: ATLAS_EL_SF_RECO
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_489bd159b583fcd1414f13d93ab69040_0
  WeightSufDown: WeightSufDown_489bd159b583fcd1414f13d93ab69040_0
  Category: Instrumental


Systematic: ATLAS_EL_SF_ISO
  Title: "Electron isolation scale factor"
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_8818df0907ccbee20afc48721dcbc151_0
  WeightSufDown: WeightSufDown_8818df0907ccbee20afc48721dcbc151_0
  Category: Instrumental


Systematic: ATLAS_MU_SF_ID_Stat
  Title: ATLAS_MU_SF_ID_Stat
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_1ab5d6f4df5d236929db6e73080193ac_0
  WeightSufDown: WeightSufDown_1ab5d6f4df5d236929db6e73080193ac_0
  Category: Instrumental


Systematic: ATLAS_MU_SF_ID_Syst
  Title: ATLAS_MU_SF_ID_Syst
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_7d4259d160342c919508eeaee491367b_0
  WeightSufDown: WeightSufDown_7d4259d160342c919508eeaee491367b_0
  Category: Instrumental


Systematic: ATLAS_MU_SF_TTVA_Stat
  Title: ATLAS_MU_SF_TTVA_Stat
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_f4bf0f78c933d1e31bd45607b814ff3d_0
  WeightSufDown: WeightSufDown_f4bf0f78c933d1e31bd45607b814ff3d_0
  Category: Instrumental


Systematic: ATLAS_MU_SF_TTVA_Syst
  Title: ATLAS_MU_SF_TTVA_Syst
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_31728e35b0e7c6540d69be54d790cfc8_0
  WeightSufDown: WeightSufDown_31728e35b0e7c6540d69be54d790cfc8_0
  Category: Instrumental


Systematic: ATLAS_MU_SF_ISO_Stat
  Title: ATLAS_MU_SF_ISO_Stat
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_27fb97f0cfd52916c2dd3a5e93e955c7_0
  WeightSufDown: WeightSufDown_27fb97f0cfd52916c2dd3a5e93e955c7_0
  Category: Instrumental


Systematic: ATLAS_MU_SF_ISO_Syst
  Title: ATLAS_MU_SF_ISO_Syst
  Type: HISTO
  Smoothing: 40
  WeightSufUp: WeightSufUp_e9d8756438180ccc5ec72c20523f045e_0
  WeightSufDown: WeightSufDown_e9d8756438180ccc5ec72c20523f045e_0
  Category: Instrumental


Systematic: ATLAS_JES_EffectiveNP_1
  Title: ATLAS_JES_EffectiveNP_1
  Type: HISTO
  NtupleNameUp: JET_EffectiveNP_Detector1__1up
  NtupleNameDown: JET_EffectiveNP_Detector1__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EffectiveNP_2
  Title: ATLAS_JES_EffectiveNP_2
  Type: HISTO
  NtupleNameUp: JET_EffectiveNP_Mixed1__1up
  NtupleNameDown: JET_EffectiveNP_Mixed1__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EffectiveNP_3
  Title: ATLAS_JES_EffectiveNP_3
  Type: HISTO
  NtupleNameUp: JET_EffectiveNP_Mixed2__1up
  NtupleNameDown: JET_EffectiveNP_Mixed2__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EffectiveNP_4
  Title: ATLAS_JES_EffectiveNP_4
  Type: HISTO
  NtupleNameUp: JET_EffectiveNP_Mixed3__1up
  NtupleNameDown: JET_EffectiveNP_Mixed3__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EffectiveNP_5
  Title: ATLAS_JES_EffectiveNP_5
  Type: HISTO
  NtupleNameUp: JET_EffectiveNP_Modelling1__1up
  NtupleNameDown: JET_EffectiveNP_Modelling1__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EffectiveNP_6
  Title: ATLAS_JES_EffectiveNP_6
  Type: HISTO
  NtupleNameUp: JET_EffectiveNP_Modelling2__1up
  NtupleNameDown: JET_EffectiveNP_Modelling2__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EffectiveNP_7
  Title: ATLAS_JES_EffectiveNP_7
  Type: HISTO
  NtupleNameUp: JET_EffectiveNP_Modelling3__1up
  NtupleNameDown: JET_EffectiveNP_Modelling3__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EffectiveNP_8
  Title: ATLAS_JES_EffectiveNP_8
  Type: HISTO
  NtupleNameUp: JET_EffectiveNP_Modelling4__1up
  NtupleNameDown: JET_EffectiveNP_Modelling4__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EffectiveNP_9
  Title: ATLAS_JES_EffectiveNP_9
  Type: HISTO
  NtupleNameUp: JET_EffectiveNP_Statistical1__1up
  NtupleNameDown: JET_EffectiveNP_Statistical1__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EffectiveNP_10
  Title: ATLAS_JES_EffectiveNP_10
  Type: HISTO
  NtupleNameUp: JET_EffectiveNP_Statistical2__1up
  NtupleNameDown: JET_EffectiveNP_Statistical2__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EffectiveNP_11
  Title: ATLAS_JES_EffectiveNP_11
  Type: HISTO
  NtupleNameUp: JET_EffectiveNP_Statistical3__1up
  NtupleNameDown: JET_EffectiveNP_Statistical3__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EffectiveNP_12
  Title: ATLAS_JES_EffectiveNP_12
  Type: HISTO
  NtupleNameUp: JET_EffectiveNP_Statistical4__1up
  NtupleNameDown: JET_EffectiveNP_Statistical4__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EffectiveNP_13
  Title: ATLAS_JES_EffectiveNP_13
  Type: HISTO
  NtupleNameUp: JET_EffectiveNP_Statistical5__1up
  NtupleNameDown: JET_EffectiveNP_Statistical5__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EffectiveNP_14
  Title: ATLAS_JES_EffectiveNP_14
  Type: HISTO
  NtupleNameUp: JET_EffectiveNP_Statistical6__1up
  NtupleNameDown: JET_EffectiveNP_Statistical6__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_BJES
  Title: ATLAS_JES_BJES
  Type: HISTO
  NtupleNameUp: JET_BJES_Response__1up
  NtupleNameDown: JET_BJES_Response__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EtaInter_Model
  Title: ATLAS_JES_EtaInter_Model
  Type: HISTO
  NtupleNameUp: JET_EtaIntercalibration_Modelling__1up
  NtupleNameDown: JET_EtaIntercalibration_Modelling__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EtaInter_Stat
  Title: ATLAS_JES_EtaInter_Stat
  Type: HISTO
  NtupleNameUp: JET_EtaIntercalibration_TotalStat__1up
  NtupleNameDown: JET_EtaIntercalibration_TotalStat__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EtaInter_NonClosureHighE
  Title: ATLAS_JES_EtaInter_NonClosure
  Type: HISTO
  NtupleNameUp: JET_EtaIntercalibration_NonClosure_highE__1up
  NtupleNameDown: JET_EtaIntercalibration_NonClosure_highE__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EtaInter_NonClosureNegEta
  Title: ATLAS_JES_EtaInter_NonClosureNegEta
  Type: HISTO
  NtupleNameUp: JET_EtaIntercalibration_NonClosure_negEta__1up
  NtupleNameDown: JET_EtaIntercalibration_NonClosure_negEta__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_EtaInter_NonClosurePosEta
  Title: ATLAS_JES_EtaInter_NonClosurePosEta
  Type: HISTO
  NtupleNameUp: JET_EtaIntercalibration_NonClosure_posEta__1up
  NtupleNameDown: JET_EtaIntercalibration_NonClosure_posEta__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_Flavor_Comp
  Title: ATLAS_JES_Flavor_Comp
  Type: HISTO
  NtupleNameUp: JET_Flavor_Composition__1up
  NtupleNameDown: JET_Flavor_Composition__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_Flavor_Resp
  Title: ATLAS_JES_Flavor_Resp
  Type: HISTO
  NtupleNameUp: JET_Flavor_Response__1up
  NtupleNameDown: JET_Flavor_Response__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_PU_OffsetMu
  Title: ATLAS_JES_PU_OffsetMu
  Type: HISTO
  NtupleNameUp: JET_Pileup_OffsetMu__1up
  NtupleNameDown: JET_Pileup_OffsetMu__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_PU_OffsetNPV
  Title: ATLAS_JES_PU_OffsetNPV
  Type: HISTO
  NtupleNameUp: JET_Pileup_OffsetNPV__1up
  NtupleNameDown: JET_Pileup_OffsetNPV__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_PU_Rho
  Title: ATLAS_JES_PU_Rho
  Type: HISTO
  NtupleNameUp: JET_Pileup_RhoTopology__1up
  NtupleNameDown: JET_Pileup_RhoTopology__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_PunchThrough
  Title: ATLAS_JES_PunchThrough
  Type: HISTO
  NtupleNameUp: JET_PunchThrough_MC16__1up
  NtupleNameDown: JET_PunchThrough_MC16__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JES_SinglePart
  Title: ATLAS_JES_SinglePart
  Type: HISTO
  NtupleNameUp: JET_SingleParticle_HighPt__1up
  NtupleNameDown: JET_SingleParticle_HighPt__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_JER
  Title: "Jet energy resolution"
  Type: HISTO
  NtupleNameUp: JET_JER_SINGLE_NP__1up
  Symmetrisation: ONESIDED
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_MU_MS;ATLAS_MU_ID;ATLAS_MU_SCALE;ATLAS_MU_SAGITTA_RESBIAS;ATLAS_MU_SAGITTA_RHO
  Title: ATLAS_MU_MS;ATLAS_MU_ID;ATLAS_MU_SCALE;ATLAS_MU_SAGITTA_RESBIAS;ATLAS_MU_SAGITTA_RHO
  Type: HISTO
  NtupleNameUp: MUON_MS__1up;MUON_ID__1up;MUON_SCALE__1up;MUON_SAGITTA_RESBIAS__1up;MUON_SAGITTA_RHO__1up
  NtupleNameDown: MUON_MS__1down;MUON_ID__1down;MUON_SCALE__1down;MUON_SAGITTA_RESBIAS__1down;MUON_SAGITTA_RHO__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_EM_RES;ATLAS_EM_SCALE
  Title: ATLAS_EM_RES;ATLAS_EM_SCALE
  Type: HISTO
  NtupleNameUp: EG_RESOLUTION_ALL__1up;EG_SCALE_ALL__1up
  NtupleNameDown: EG_RESOLUTION_ALL__1down;EG_SCALE_ALL__1down
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_MET_SoftResPara;ATLAS_MET_SoftResPerp
  Title: ATLAS_MET_SoftResPara;ATLAS_MET_SoftResPerp
  Type: HISTO
  NtupleNameUp: MET_SoftTrk_ResoPara;MET_SoftTrk_ResoPerp
  Symmetrisation: ONESIDED
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental


Systematic: ATLAS_MET_SoftTrk_ScaleUp;ATLAS_MET_SoftTrk_ScaleDown
  Title: ATLAS_MET_SoftTrk_ScaleUp;ATLAS_MET_SoftTrk_ScaleDown
  Type: HISTO
  NtupleNameUp: MET_SoftTrk_ScaleUp;MET_SoftTrk_ScaleDown
  Symmetrisation: ONESIDED
  Smoothing: 40
  Exclude: ttZ_3L_CR,ttZ_3L_VR,Zjets,Zgamma,tZ,VH_other,VH_signal,others,lllljj,lllvjj
  Category: Instrumental
